<div class="wrapper" style="height: 60vh;">
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Create Course</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content" style="min-height: 60vh !important;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8" style="border: 3px solid #f9f9f9; padding: 1rem;">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Register User</h4>
                  <p class="card-category">Your limitation - it's only your imagination.</p>
                </div>
                <div class="card-body pb-5">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                              <label class="bmd-label-floating">Email address</label>
                              <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Password</label>
                            <input type="password" class="form-control">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company (disabled)</label>
                          <input type="text" class="form-control" value="Computer Sikho" disabled>
                        </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-basic">
                                    Role of user <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                              <li role="menuitem" value='1' ><a class="dropdown-item" >Super</a></li>
                              <li role="menuitem" value='2' ><a class="dropdown-item" >Medium</a></li>
                              <li role="menuitem" value='3' ><a class="dropdown-item" >Basic</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
